.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.button-container {
    display: flex;
}

.submit-button {
    padding: 10px;
    background-color: skyblue;
    border: none;
    border-radius: 1em;
    align-self: center;
}

.field {
    margin-bottom: 1em;
    /* background-color: #a1c7d5; */
    display: flex;
}

.field-label {
    flex: 1;
}

.field-input {
    width: 220px;
}

.field-input:focus {
    border: 1px solid salmon;
}
